{{!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> --}}

<video id="video" width="300" height="300" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="300" height="300"></canvas>

{{name}}